/Project Precious Hands/nbproject/private/
/Project Precious Hands/build/
/Project Precious Hands/src/resources/password
Project Precious Hands/src/ch/idpa/project_precious_hands/main/Model/password
/Project Precious Hands/dist/